<div class="card">
    <div class="card-body">
        <h5 class="titulo mb-3">CREAR TARJETA DE CREDITO</h5>
        <form>
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                <input type="text" class="form-control" placeholder="Titular de la Tajeta">
            </div>
            <div class="input-group input-group-lg mb-3">
                <span class="input-group-text"><i class="fas fa-credit-card"></i></span>
                <input type="text" class="form-control" placeholder="Numero de la Tajeta">
            </div>
            <div class="row">
                <div class="col-lg-7">
                    <div class="input-group input-group-lg mb-3">
                        <input type="text" class="form-control" placeholder="MM/YY">
                        <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="input-group input-group-lg mb-3">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                        <input type="password" class="form-control" placeholder="CVV">
                    </div>
                </div>
            </div>
            <div class="d-grid grap-2">
                <button class="btn btn-success" type="button"><i class="fas fa-database"></i>&nbsp;ACEPTAR</button>
            </div>
        </form>
    </div>
</div>