<div class="card">
    <div class="card-body">
        <h5 class="titulo">TARJETAS REGISTRADAS</h5>
        <table class="table">
            <tr *ngFor="let tarjeta of listTarjetas">
                <td>{{tarjeta.titular}}</td>
                <td>{{tarjeta.numeroTarjeta}}</td>
                <td>{{tarjeta.fechaExpiracion}}</td>
                <td>
                    <i class="fas fa-edit text-info"></i>
                    <i class="fas fa-trash text-danger"></i>
                </td>
            </tr>
        </table>
    </div>
</div>